@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  font-family: "M PLUS Code Latin", monospace;

}

body {
    background-image: url("https://wallpapercave.com/wp/wp7185813.jpg");
    background-position: center;
    background-size: cover;
    color: #4B3720;  
    overflow: hidden;
}


div {
  margin-top: 20px;
}

.misc {
  display: flex;
  gap: 26px;
  justify-content: space-between;
}

.next-flashcard-btn {
  text-align: right;
}

button {
  color: white;
  border-radius: 8px;
  margin: 0 5px;
  background-color: #4B3720;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

button:hover {
  background-color: #3c2417;
  transform: scale(1.05);
  border: 2px dashed #F9BD33;
  cursor: pointer;
}
