:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lazy-color: #2A377F;
  --lazy-background: #DAC8C7;

  --smug-color: #8E2018 ;
  --smug-background: #F9BD33;

  --jock-color: #30638E;
  --jock-background: #8FD3F0;

  --snooty-color: #4B3720;
  --snooty-background: #B493BA;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.flashcard-container {
  border: 4px solid #4B3720;
  border-radius: 8px;
  height: 150px;
  width: 470px;
  perspective: 1000px;
}

.flashcard-inner {
  position: relative;
  width: 50%;
  height: 50%;
  text-align: center;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}

/* rotate the INNER card on hover */
.flashcard-container:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.flashcard-inner.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;
}

/* personality type styles */

.lazy{
  color: var(--lazy-color);
  background-color: var(--lazy-background);
}

.smug{
  color: var(--smug-color);
  background-color: var(--smug-background);
}

.jock {
  color: var(--jock-color);
  background-color: var(--jock-background);
}

.snooty {
  color: var(--snooty-color);
  background-color: var(--snooty-background);
}